@import "tailwindcss";

html, body {
    height: 100%;
    width: 100%;
    background-color: #000000;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

h1 {
    font-family: "Libre Baskerville", serif;
}
