@import "tailwindcss";

html, body {
    height: 100%;
}


body {
    font-family: "Inter", serif;
    font-weight: 200;
    margin: 0;
    background-image: url(/img/star.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 55%;
    background-size: 66%;
    /* animation: pulse infinite 5s; */
}

@keyframes pulse {
    0% {
        background-size: 66%;
    }
    50% {
        background-size: 56%;
    }
    100% {
        background-size: 66%;
    }
}

@keyframes loadIn {
    0% {
        background-size: 55%;
    }
    100% {
        background-size: 66%;
    }
}

@keyframes pulse-base {
    0% {
        background-size: 120%;
    }
    50% {
        background-size: 115%;
    }
    100% {
        background-size: 120%;
    }
}

@keyframes loadIn-base {
    0% {
        background-size: 40%;
    }
    100% {
        background-size: 120%;
    }
}

@media (width >= 40rem /* 640px */) {
    body {
        flex-direction: column;
        background-position-x: 92%;
        background-position-y: 50%;
        /* animation: loadIn-base forwards 2s, pulse infinite 5s; */
    }

    .bigtext {
        top: 45%;
        left: 8%;
        color: white;
        background-color: black;
        mix-blend-mode: difference;
        text-shadow: 0 0 10px #ffffffb6;
    }
}

@media (width <= 40rem /* 640px */) {
    .bigtext {
        top: 25%;
        font-size: 2.5rem;
        color: black;
    }
}

.bigtext {
    text-align: center;
    position: absolute;
    font-family: "Libre Baskerville", serif;
    font-style: normal;
}