body {
    font-family: "Inter", serif;
    font-weight: 200;
    margin: 0;
    background-image: url(/img/star.png);
    background-repeat: no-repeat;
    background-position-x: 130%;
    background-size: contain;
}

.temppage {
    text-align: center;
    padding-top: 30vh;
}

.header {
    overflow: hidden;
    padding: 20px 10px;
    min-height: 6vh;
}

a > svg {
    float: left;
    color: black;
    text-align: center;
    padding: 13px;
    padding-bottom: 5px;
    width: 25px;
    height: 25px;
}

.link {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    background: #fff;
}

.logo {
    width: 50px;
    margin-left: 10px;
}

.logoa {
    padding: 0;
}

.header a:hover {
    text-decoration: underline;
}

.header-right {
    float: right;
}

.content {
    max-height: 94vh;
    min-height: 82%;
}

.bigtext {
    font-family: "Libre Baskerville", serif;
    font-style: normal;
    font-size: 100px;
    margin: 0;
    margin-left: 0.5em;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #fff;
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url(/img/star.png);
        background-repeat: no-repeat;
        background-size: 250%;
        background-position: center;
    }

    .bigtext {
        font-family: "Libre Baskerville", serif;
        font-style: normal;
        font-size: 50px;
        text-align: center;
        top: 40%;
        background: #fff;
        margin: 0;
    }
}