body {
    font-family: "Inter", serif;
    font-weight: 200;
    margin: 0;
    background-image: url(/img/kulsedog3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;

}

.temppage {
    text-align: center;
    padding-top: 30vh;
}

.header {
    overflow: hidden;
    padding: 20px 10px;
    min-height: 6vh;
    color: #fff;
}

.link {
    float: left;
    color: #fff;
    background: #000;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    padding: 2px;
}


.logo {
    width: 50px;
    margin-left: 10px;
}

.logoa {
    padding: 0;
}

.header a:hover {
    text-decoration: underline;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {

    .body {
        background-image: none;
    }

    .bigtext {
        margin-left: 0;
    }
}

.content {
    max-height: 94vh;
    min-height: 82%;
    color: #fff;
}

.bigtext {
    font-family: "Libre Baskerville", serif;
    font-style: normal;
    font-size: 100px;
    margin: 0;
    margin-left: 0.5em;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #000;
}

.contact {
    text-align: center;
    padding-top: 10vh;
}

.contactheader {
    font-weight: 400;
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 50px;
    margin-left: 20px;
    padding-top: 10vh;
}

.description {
    margin-left: 20px;
    width: 30vw;
}

.links > a > svg {
    width: 35px;
    height: 35px;
    color: #fff;
    margin-right: 5px;
}

.links {
    margin-left: 20px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-family: "Libre Baskerville", serif;
        font-size: 50px;
        text-align: center;
        padding-top: 10vh;
        color: #fff;
        margin-left: 0;
    }

    .description {
        margin-left: 0;
        width: 100vw;
        color: #fff;
        text-align: center;
        font-size: 20px;
    }
    
    .links > a > svg {
        width: 35px;
        height: 35px;
        color: #fff;
        text-align: center;
    }
    
    .links {
        margin-left: 20px;
        text-align: center;
    }
}